@model Towergate.Models.Customer

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createCustomerModalLabel">Create new Customer</h5>
        </div>
        <div class="modal-body">
            <form asp-action="Create" id="createCustomerForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group pb-2">
                    <label asp-for="Name" class="control-label"></label>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group pb-2">
                    <label asp-for="Age" class="control-label"></label>
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
                <div class="form-group pb-2">
                    <label asp-for="PostCode" class="control-label">Post code</label>
                    @Html.EditorFor(model => model.PostCode)
                    @Html.ValidationMessageFor(model => model.PostCode)
                </div>
                <div class="form-group pb-2">
                    <label asp-for="Height" class="control-label"></label>
                    @Html.EditorFor(model => model.Height)
                    @Html.ValidationMessageFor(model => model.Height)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function closeModal() {
        $('#createCustomerModal').modal('hide');
    }
</script>
