@model Towergate.Models.Customer

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
        </div>
        <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group pb-2">
                        <label asp-for="Name" class="control-label"></label>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group pb-2">
                        <label asp-for="Age" class="control-label"></label>
                        @Html.EditorFor(model => model.Age)
                        @Html.ValidationMessageFor(model => model.Age)

                    </div>
                    <div class="form-group pb-2">
                        <label asp-for="PostCode" class="control-label">Post code</label>
                        @Html.EditorFor(model => model.PostCode)
                        @Html.ValidationMessageFor(model => model.PostCode)
                    </div>
                    <div class="form-group pb-2">
                        <label asp-for="Height" class="control-label"></label>
                        @Html.EditorFor(model => model.Height)
                        @Html.ValidationMessageFor(model => model.Height)
                    </div>
                </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            <button type="submit" formmethod="post" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function closeModal() {
        $('#editCustomerModal').modal('hide');
    }
</script>