@{
    ViewData["Title"] = "Towergate Customers";
}
@model CustomerViewModel

<div class="text-center">
    <h1>Customers</h1>

    <br />

    <div>
        <button class="btn edit-customer btn-success" onclick="AddCustomer()">Add</button>
    </div>

    <br />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Post Code</th>
            <th scope="col">Height (meters)</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
`       @foreach (var customer in Model.Customers)
        {
            <tr>
                <td scope="row">@customer.Name</td>
                <td>@customer.Age</td>
                <td>@customer.PostCode</td>
                <td>@customer.Height</td>
                <td>
                        <button class="btn edit-customer btn-warning" onclick="EditCustomer(@customer.Id)">Edit</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade createCustomerModal" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="createCustomerModalLabel" aria-hidden="true">
    <partial name="_CreateModal" model="Model.Customer" />
</div>

<div class="modal fade editCustomerModal" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <partial name="_EditModal" model="Model.Customer" />
</div>

<script>
    $(document).ready(function () {
        $(document).on('submit', '#createCustomerForm', function (event) {
            event.preventDefault();

            var form = $(this);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    $('#createCustomerModal').html(response);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    function AddCustomer() {
        $.ajax({
            type: "GET",
            url: "/Customer/Create",
            success: function (data) {
                $('#createCustomerModal').modal('show');
                $('#createCustomerModal').html(data);
            },
            error: function (data) {
                alert("Error");
            }
        });
    }

    function EditCustomer(id) {
        $.ajax({
            type: "GET",
            url: "/Customer/Edit",
            data: { id: id },
            success: function (data) {
                $('#editCustomerModal').modal('show');
                $('#editCustomerModal').html(data);
            },
            error: function (data) {
                alert("Error");
            }
        });
    }
</script>