@{
    ViewData["Title"] = "Towergate Customers";
}
@model IEnumerable<Customer>

<div class="text-center">
    <h1>Customers</h1>

    <br />

    <div>
        @Html.ActionLink("Add", "Create")
    </div>

    <br />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Post Code</th>
            <th scope="col">Height (meters)</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
`       @foreach (var customer in Model)
        {
            <tr>
                <td scope="row">@customer.Name</td>
                <td>@customer.Age</td>
                <td>@customer.PostCode</td>
                <td>@customer.Height</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>